body{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    height: 100%;
}
*{
    box-sizing: border-box;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table td,table th{
  
    border: 1px solid black;
    text-align: center;
}
.icon{
    color: rgb(17, 240, 17);
}
h2{
    text-align: center;
}
